.about-us {
	// about-us__items

	&__items {
	}

	// .about-us__item

	&__item {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
		@include adaptiv-value("margin-bottom", 20, 15, 1);
		@include adaptiv-value("column-gap", 20, 15, 1);
		@include adaptiv-value("row-gap", 70, 20, 1);
		@include media-breakpoint-down(lg) {
		}
		&:nth-child(2) {
			.about-us__subtitle-photo {
				padding-top: 75%;
				order: -1;
				@include media-breakpoint-down(md) {
					@include adaptiv-value("row-gap", 70, 20, 1);
					order: 0;
				}
			}
		}
	}

	// .subtitle__title-photo

	&__subtitle-photo {
		position: relative;
		padding-top: 65%;
		width: 100%;
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		align-self: baseline;
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			transition: 0.3s ease-in-out;
		}
		@media (any-hover: hover) {
			&:hover::before {
				background: rgba(255, 255, 255, 0.15);
			}
		}
	}

	// .about-us__subtitle

	&__subtitle {
		font-size: 15px;
		line-height: 161%;
		span {
			font-weight: 500;
		}
	}
}
