.footer {
	// .footer__row

	&__row {
		display: flex;
		justify-content: space-between;
		padding: 20px 5px 0;
		&:last-child {
			padding: 20px 5px 20px;
			justify-content: center;
		}
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	// .menu-models
	.menu-models {
		@include media-breakpoint-down(sm) {
			margin-bottom: 20px;
		}
		// .footer__contacts-title

		&__title {
			@extend .footer__contacts-title;
			text-align: start !important;
			@include media-breakpoint-down(sm) {
				text-align: center !important;
			}
		}

		// .menu-models__list

		&__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(4, 1fr);
			grid-auto-flow: column;
			column-gap: 30px;
			list-style: none;
			margin: 0;
			padding: 0;
			a {
				@extend .footer__contacts-link;
			}
		}
	}

	// .footer__contacts

	&__contacts {
		text-align: right;
	}

	// .footer__contacts-title

	&__contacts-title {
		text-align: end;
		font-size: 20px;
		font-weight: 400;
		line-height: 150%;
		margin-bottom: 0;
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}

	// .footer__contacts-link

	&__contacts-link {
		display: block;
		font-size: 15px;
		line-height: 161%;
		font-weight: 400;
		color: $textcolor;
		text-decoration: none;
		transition: color 0.2s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: lighten($textcolor, 50%);
			}
		}
	}
	&__copyright {
		font-size: 15px;
		line-height: 161%;
		text-align: center;
		color: lighten($textcolor, 50%);
	}
}

.body-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	pointer-events: none;
	background-color: rgba(#fff, 0.1);
	transition: 0.3s ease-in;
	@supports ((-webkit-backdrop-filter: blur(4px)) or (backdrop-filter: blur(4px))) {
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
	}
	&._active {
		z-index: 10;
		pointer-events: visible;
		transition: 0.3s ease-in;
	}
}
