.specification {
	margin-bottom: 0 !important;
	// .specification__row

	&__row {
		display: grid;
		grid-template-columns: minmax(380px, 1fr) minmax(680px, 1fr);
		background-color: #000;
		color: #fff;
		padding-bottom: 30px;
		@include adaptiv-value("padding-top", 90, 20, 1);
		@include media-breakpoint-down(lg) {
			grid-template-columns: 1fr;
		}
	}

	// .specification__column

	&__column {
	
	}
}
.column-bg {
	position: relative;
	padding-bottom: 60%;
	overflow: hidden;
	img {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: auto;
	}
}
.column-information {
	@include adaptiv-value("padding-left", 40, 10, 1);

	// .column-information__title

	&__title {
		font-weight: 500;
		font-size: 30px;
		line-height: 36px;
		@include adaptiv-value("font-size", 30, 20, 1);
		@include adaptiv-value("line-height", 36, 24, 1);
		@include adaptiv-value("margin-bottom", 60, 20, 1);
		text-align: center;
	}

	// .column-information__items

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		@include adaptiv-value("column-gap", 20, 10, 1);
		@include adaptiv-value("row-gap", 20, 10, 1);
	}

	// .column-information__item

	&__item {
		width: 100%;
		max-width: 350px;
	}

	// .column-information__item-title

	&__item-title {
		margin-bottom: 20px;
		h3 {
			font-weight: 500;
			font-size: 15px;
			line-height: 18px;
		}
	}

	// .column-information__item-info

	&__item-info {
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		color: rgba(#ffffff, 1);
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
	}

	// .column-information__item-info-type

	&__item-info-type {
	}

	// .column-information__item-info-value

	&__item-info-value {
	}
}

.specification-all {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	@include adaptiv-value("padding-top", 30, 15, 1);
	@include adaptiv-value("padding-bottom", 30, 15, 1);

	// .specification-all__title

	&__title {
		@include adaptiv-value("margin-bottom", 30, 15, 1);
		h3 {
			font-weight: 500;
			font-size: 15px;
			line-height: 14px;
		}
	}

	// .specification-all__options

	&__options {		
		color: rgba(#ffffff, 1);
		margin-bottom: 25px;
		p {
			font-weight: 400;
			font-size: 12px;
			margin-bottom: 5px;
			line-height: 17px;
		}
	}
}
